TestingWebServer/Connected Services/ServiceReference/CommonPort.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://edu.softserve.com/" elementFormDefault="unqualified" targetNamespace="http://edu.softserve.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addItem" type="tns:addItem" />
  <xs:element name="addItemResponse" type="tns:addItemResponse" />
  <xs:element name="changePassword" type="tns:changePassword" />
  <xs:element name="changePasswordResponse" type="tns:changePasswordResponse" />
  <xs:element name="createUser" type="tns:createUser" />
  <xs:element name="createUserResponse" type="tns:createUserResponse" />
  <xs:element name="deleteItem" type="tns:deleteItem" />
  <xs:element name="deleteItemResponse" type="tns:deleteItemResponse" />
  <xs:element name="getAliveTockens" type="tns:getAliveTockens" />
  <xs:element name="getAliveTockensResponse" type="tns:getAliveTockensResponse" />
  <xs:element name="getAllAdmins" type="tns:getAllAdmins" />
  <xs:element name="getAllAdminsResponse" type="tns:getAllAdminsResponse" />
  <xs:element name="getAllItems" type="tns:getAllItems" />
  <xs:element name="getAllItemsIndexes" type="tns:getAllItemsIndexes" />
  <xs:element name="getAllItemsIndexesResponse" type="tns:getAllItemsIndexesResponse" />
  <xs:element name="getAllItemsResponse" type="tns:getAllItemsResponse" />
  <xs:element name="getAllUsers" type="tns:getAllUsers" />
  <xs:element name="getAllUsersResponse" type="tns:getAllUsersResponse" />
  <xs:element name="getCoolDownTime" type="tns:getCoolDownTime" />
  <xs:element name="getCoolDownTimeResponse" type="tns:getCoolDownTimeResponse" />
  <xs:element name="getItem" type="tns:getItem" />
  <xs:element name="getItemResponse" type="tns:getItemResponse" />
  <xs:element name="getLockedAdmins" type="tns:getLockedAdmins" />
  <xs:element name="getLockedAdminsResponse" type="tns:getLockedAdminsResponse" />
  <xs:element name="getLockedUsers" type="tns:getLockedUsers" />
  <xs:element name="getLockedUsersResponse" type="tns:getLockedUsersResponse" />
  <xs:element name="getLoginedAdmins" type="tns:getLoginedAdmins" />
  <xs:element name="getLoginedAdminsResponse" type="tns:getLoginedAdminsResponse" />
  <xs:element name="getLoginedUsers" type="tns:getLoginedUsers" />
  <xs:element name="getLoginedUsersResponse" type="tns:getLoginedUsersResponse" />
  <xs:element name="getTokenLifeTime" type="tns:getTokenLifeTime" />
  <xs:element name="getTokenLifeTimeResponse" type="tns:getTokenLifeTimeResponse" />
  <xs:element name="getUserItem" type="tns:getUserItem" />
  <xs:element name="getUserItemResponse" type="tns:getUserItemResponse" />
  <xs:element name="getUserItems" type="tns:getUserItems" />
  <xs:element name="getUserItemsResponse" type="tns:getUserItemsResponse" />
  <xs:element name="getUserName" type="tns:getUserName" />
  <xs:element name="getUserNameResponse" type="tns:getUserNameResponse" />
  <xs:element name="lockUser" type="tns:lockUser" />
  <xs:element name="lockUserResponse" type="tns:lockUserResponse" />
  <xs:element name="login" type="tns:login" />
  <xs:element name="loginResponse" type="tns:loginResponse" />
  <xs:element name="logout" type="tns:logout" />
  <xs:element name="logoutResponse" type="tns:logoutResponse" />
  <xs:element name="removeUser" type="tns:removeUser" />
  <xs:element name="removeUserResponse" type="tns:removeUserResponse" />
  <xs:element name="resetServiceToInitialState" type="tns:resetServiceToInitialState" />
  <xs:element name="resetServiceToInitialStateResponse" type="tns:resetServiceToInitialStateResponse" />
  <xs:element name="setCoolDownTime" type="tns:setCoolDownTime" />
  <xs:element name="setCoolDownTimeResponse" type="tns:setCoolDownTimeResponse" />
  <xs:element name="setTokenLifeTime" type="tns:setTokenLifeTime" />
  <xs:element name="setTokenLifeTimeResponse" type="tns:setTokenLifeTimeResponse" />
  <xs:element name="unlockAllUsers" type="tns:unlockAllUsers" />
  <xs:element name="unlockAllUsersResponse" type="tns:unlockAllUsersResponse" />
  <xs:element name="unlockUser" type="tns:unlockUser" />
  <xs:element name="unlockUserResponse" type="tns:unlockUserResponse" />
  <xs:element name="updateItem" type="tns:updateItem" />
  <xs:element name="updateItemResponse" type="tns:updateItemResponse" />
  <xs:complexType name="setCoolDownTime">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setCoolDownTimeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllItems">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllItemsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTokenLifeTime">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getTokenLifeTimeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element name="arg2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserItems">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserItemsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAliveTockens">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAliveTockensResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="unlockAllUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="unlockAllUsersResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logout">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logoutResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLockedAdmins">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLockedAdminsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element name="arg2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addItemResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllAdmins">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllAdminsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lockUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lockUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCoolDownTime">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCoolDownTimeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLoginedUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLoginedUsersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllItemsIndexes">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllItemsIndexesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setTokenLifeTime">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setTokenLifeTimeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllUsersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLoginedAdmins">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLoginedAdminsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element name="arg1" type="xs:int" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateItemResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="unlockUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="unlockUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="changePassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="changePasswordResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteItemResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLockedUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLockedUsersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element name="arg3" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resetServiceToInitialState">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="resetServiceToInitialStateResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>