TestingWebServer/Connected Services/ServiceReference/CommonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://edu.softserve.com/" name="CommonService" targetNamespace="http://edu.softserve.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://localhost:8080/dashboard/services/CommonPort?xsd=common_schema1.xsd" namespace="http://edu.softserve.com/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="changePasswordResponse">
    <wsdl:part name="parameters" element="tns:changePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="setCoolDownTime">
    <wsdl:part name="parameters" element="tns:setCoolDownTime" />
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part name="parameters" element="tns:logoutResponse" />
  </wsdl:message>
  <wsdl:message name="getAllItems">
    <wsdl:part name="parameters" element="tns:getAllItems" />
  </wsdl:message>
  <wsdl:message name="getTokenLifeTime">
    <wsdl:part name="parameters" element="tns:getTokenLifeTime" />
  </wsdl:message>
  <wsdl:message name="getUserNameResponse">
    <wsdl:part name="parameters" element="tns:getUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="lockUserResponse">
    <wsdl:part name="parameters" element="tns:lockUserResponse" />
  </wsdl:message>
  <wsdl:message name="login">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="logout">
    <wsdl:part name="parameters" element="tns:logout" />
  </wsdl:message>
  <wsdl:message name="addItem">
    <wsdl:part name="parameters" element="tns:addItem" />
  </wsdl:message>
  <wsdl:message name="removeUser">
    <wsdl:part name="parameters" element="tns:removeUser" />
  </wsdl:message>
  <wsdl:message name="unlockUsersResponse">
    <wsdl:part name="parameters" element="tns:unlockUsersResponse" />
  </wsdl:message>
  <wsdl:message name="lockUser">
    <wsdl:part name="parameters" element="tns:lockUser" />
  </wsdl:message>
  <wsdl:message name="addItemResponse">
    <wsdl:part name="parameters" element="tns:addItemResponse" />
  </wsdl:message>
  <wsdl:message name="getUserName">
    <wsdl:part name="parameters" element="tns:getUserName" />
  </wsdl:message>
  <wsdl:message name="getTokenLifeTimeResponse">
    <wsdl:part name="parameters" element="tns:getTokenLifeTimeResponse" />
  </wsdl:message>
  <wsdl:message name="updateItemResponse">
    <wsdl:part name="parameters" element="tns:updateItemResponse" />
  </wsdl:message>
  <wsdl:message name="getCoolDownTime">
    <wsdl:part name="parameters" element="tns:getCoolDownTime" />
  </wsdl:message>
  <wsdl:message name="getAllItemsResponse">
    <wsdl:part name="parameters" element="tns:getAllItemsResponse" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="setTokenLifeTime">
    <wsdl:part name="parameters" element="tns:setTokenLifeTime" />
  </wsdl:message>
  <wsdl:message name="getAllUsers">
    <wsdl:part name="parameters" element="tns:getAllUsers" />
  </wsdl:message>
  <wsdl:message name="setTokenLifeTimeResponse">
    <wsdl:part name="parameters" element="tns:setTokenLifeTimeResponse" />
  </wsdl:message>
  <wsdl:message name="createUserResponse">
    <wsdl:part name="parameters" element="tns:createUserResponse" />
  </wsdl:message>
  <wsdl:message name="updateItem">
    <wsdl:part name="parameters" element="tns:updateItem" />
  </wsdl:message>
  <wsdl:message name="setCoolDownTimeResponse">
    <wsdl:part name="parameters" element="tns:setCoolDownTimeResponse" />
  </wsdl:message>
  <wsdl:message name="changePassword">
    <wsdl:part name="parameters" element="tns:changePassword" />
  </wsdl:message>
  <wsdl:message name="getCoolDownTimeResponse">
    <wsdl:part name="parameters" element="tns:getCoolDownTimeResponse" />
  </wsdl:message>
  <wsdl:message name="getAllUsersResponse">
    <wsdl:part name="parameters" element="tns:getAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="removeUserResponse">
    <wsdl:part name="parameters" element="tns:removeUserResponse" />
  </wsdl:message>
  <wsdl:message name="deleteItem">
    <wsdl:part name="parameters" element="tns:deleteItem" />
  </wsdl:message>
  <wsdl:message name="createUser">
    <wsdl:part name="parameters" element="tns:createUser" />
  </wsdl:message>
  <wsdl:message name="deleteItemResponse">
    <wsdl:part name="parameters" element="tns:deleteItemResponse" />
  </wsdl:message>
  <wsdl:message name="unlockUsers">
    <wsdl:part name="parameters" element="tns:unlockUsers" />
  </wsdl:message>
  <wsdl:portType name="ICommon">
    <wsdl:operation name="setCoolDownTime">
      <wsdl:input name="setCoolDownTime" message="tns:setCoolDownTime" />
      <wsdl:output name="setCoolDownTimeResponse" message="tns:setCoolDownTimeResponse" />
    </wsdl:operation>
    <wsdl:operation name="setTokenLifeTime">
      <wsdl:input name="setTokenLifeTime" message="tns:setTokenLifeTime" />
      <wsdl:output name="setTokenLifeTimeResponse" message="tns:setTokenLifeTimeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <wsdl:input name="getAllUsers" message="tns:getAllUsers" />
      <wsdl:output name="getAllUsersResponse" message="tns:getAllUsersResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllItems">
      <wsdl:input name="getAllItems" message="tns:getAllItems" />
      <wsdl:output name="getAllItemsResponse" message="tns:getAllItemsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getTokenLifeTime">
      <wsdl:input name="getTokenLifeTime" message="tns:getTokenLifeTime" />
      <wsdl:output name="getTokenLifeTimeResponse" message="tns:getTokenLifeTimeResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateItem">
      <wsdl:input name="updateItem" message="tns:updateItem" />
      <wsdl:output name="updateItemResponse" message="tns:updateItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:input name="changePassword" message="tns:changePassword" />
      <wsdl:output name="changePasswordResponse" message="tns:changePasswordResponse" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input name="login" message="tns:login" />
      <wsdl:output name="loginResponse" message="tns:loginResponse" />
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input name="logout" message="tns:logout" />
      <wsdl:output name="logoutResponse" message="tns:logoutResponse" />
    </wsdl:operation>
    <wsdl:operation name="addItem">
      <wsdl:input name="addItem" message="tns:addItem" />
      <wsdl:output name="addItemResponse" message="tns:addItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteItem">
      <wsdl:input name="deleteItem" message="tns:deleteItem" />
      <wsdl:output name="deleteItemResponse" message="tns:deleteItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="removeUser">
      <wsdl:input name="removeUser" message="tns:removeUser" />
      <wsdl:output name="removeUserResponse" message="tns:removeUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <wsdl:input name="createUser" message="tns:createUser" />
      <wsdl:output name="createUserResponse" message="tns:createUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="lockUser">
      <wsdl:input name="lockUser" message="tns:lockUser" />
      <wsdl:output name="lockUserResponse" message="tns:lockUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUserName">
      <wsdl:input name="getUserName" message="tns:getUserName" />
      <wsdl:output name="getUserNameResponse" message="tns:getUserNameResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCoolDownTime">
      <wsdl:input name="getCoolDownTime" message="tns:getCoolDownTime" />
      <wsdl:output name="getCoolDownTimeResponse" message="tns:getCoolDownTimeResponse" />
    </wsdl:operation>
    <wsdl:operation name="unlockUsers">
      <wsdl:input name="unlockUsers" message="tns:unlockUsers" />
      <wsdl:output name="unlockUsersResponse" message="tns:unlockUsersResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommonServiceSoapBinding" type="tns:ICommon">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setCoolDownTime">
      <soap:operation soapAction="urn:SetCoolDownTime" style="document" />
      <wsdl:input name="setCoolDownTime">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setCoolDownTimeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setTokenLifeTime">
      <soap:operation soapAction="urn:SetTokenLifeTime" style="document" />
      <wsdl:input name="setTokenLifeTime">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setTokenLifeTimeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <soap:operation soapAction="urn:GetAllUsers" style="document" />
      <wsdl:input name="getAllUsers">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllUsersResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTokenLifeTime">
      <soap:operation soapAction="urn:GetTokenLifeTime" style="document" />
      <wsdl:input name="getTokenLifeTime">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTokenLifeTimeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllItems">
      <soap:operation soapAction="urn:GetAllItems" style="document" />
      <wsdl:input name="getAllItems">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllItemsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateItem">
      <soap:operation soapAction="urn:UpdateItem" style="document" />
      <wsdl:input name="updateItem">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateItemResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap:operation soapAction="urn:ChangePassword" style="document" />
      <wsdl:input name="changePassword">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="changePasswordResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="urn:Login" style="document" />
      <wsdl:input name="login">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="urn:Logout" style="document" />
      <wsdl:input name="logout">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="logoutResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addItem">
      <soap:operation soapAction="urn:AddItem" style="document" />
      <wsdl:input name="addItem">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addItemResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteItem">
      <soap:operation soapAction="urn:DeleteItem" style="document" />
      <wsdl:input name="deleteItem">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteItemResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUser">
      <soap:operation soapAction="urn:RemoveUser" style="document" />
      <wsdl:input name="removeUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <soap:operation soapAction="urn:CreateUser" style="document" />
      <wsdl:input name="createUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lockUser">
      <soap:operation soapAction="urn:LockUser" style="document" />
      <wsdl:input name="lockUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="lockUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserName">
      <soap:operation soapAction="urn:GetUserName" style="document" />
      <wsdl:input name="getUserName">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUserNameResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCoolDownTime">
      <soap:operation soapAction="urn:GetCoolDownTime" style="document" />
      <wsdl:input name="getCoolDownTime">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCoolDownTimeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unlockUsers">
      <soap:operation soapAction="urn:UnlockUsers" style="document" />
      <wsdl:input name="unlockUsers">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="unlockUsersResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonService">
    <wsdl:port name="CommonPort" binding="tns:CommonServiceSoapBinding">
      <soap:address location="http://localhost:8080/dashboard/services/CommonPort" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>